@model IEnumerable<WebEnterprise.Models.DTO.CustomUserDTO>

@{
    ViewData["Title"] = "ViewAllManager";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="left-sidebar">
        <div>
            <button type="button" class="btn btn-dark"><a asp-action="CreateManager" class="text-decoration-none">Create a new Manager</a></button>
        </div>
    </div>
<div class="right-sidebar">
    <table class="styled-table">
       <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th></th>
        </tr>
    </thead>
       <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                <a asp-action="EditManager" asp-route-id="@item.Id">Edit</a> |
                
                <a asp-action="DeleteManager" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
    </table>
         
</div>
</div>


