@model PaginatedList<WebEnterprise.Models.Idea>
@inject SignInManager<CustomUser> SignInManager
@using Microsoft.AspNetCore.Identity
@using WebEnterprise.Common
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

    <!-- Sidebar Toggle (Topbar) -->
    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
        <i class="fa fa-bars"></i>
    </button>

    <!-- Topbar Search -->
    <form class="d-flex justify-content-center d-sm-inline-block form-inline mx-auto ml-md-8 w-50 navbar-search border1">
        <div class="input-group">
            <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                   aria-label="Search" aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button class="btn btn-primary border1" type="button">
                    <i class="fas fa-search fa-sm"></i>
                </button>
            </div>
        </div>

    </form>

    <!-- Topbar Navbar -->
    <ul class="navbar-nav">

        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
        <li class="nav-item dropdown no-arrow d-sm-none">
            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-search fa-fw"></i>
            </a>
            <!-- Dropdown - Messages -->
            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                 aria-labelledby="searchDropdown">
                <form class="form-inline mr-auto w-100 navbar-search">
                    <div class="input-group">
                        <input type="text" class="form-control bg-light border-0 small"
                               placeholder="Search for..." aria-label="Search"
                               aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="button">
                                <i class="fas fa-search fa-sm"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </li>



        <div class="topbar-divider d-none d-sm-block"></div>
        @if (SignInManager.IsSignedIn(User))
        {
            <li class="nav-item dropdown no-arrow">
                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="mr-2 d-none d-lg-inline text-gray-600 small">@User.Identity?.Name</span>
                    <i class="fa-solid fa-circle-user"></i>
                </a>
                <!-- Dropdown - User Information -->
            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                 aria-labelledby="userDropdown">
                    <a class="dropdown-item" data-toggle="modal">
                        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout">
                            <button type="submit" class="dropdown-item" data-toggle="modal">Logout</button>
                        </form>
                    </a>
                </div>
            </li>
        }
    </ul>

</nav>


<div class="container">
    <div class="write-post w-100">
        <div class="f-card d-flex justify-content-between">
            <div>
                <h3 class="m-0 font-weight-bold text-primary">List All Idea</h3>
            </div>

        </div>
    </div>


    <div class="right-sidebar">
        @foreach (var m in Model)
        {
            <div class="f-card">
                <div class="header">
                    <div class="options">
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false">
                                Settings
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <span><a asp-action="Update" asp-route-id="@m.IdeaID" class="text-decoration-none bg-info text-white dropdown-item">Edit</a></span>
                                <span><a asp-action="Delete" asp-route-id="@m.IdeaID" class="text-decoration-none bg-danger text-white dropdown-item">Delete</a></span>

                            </div>
                        </div>
                    </div>
                    <img class="co-logo" src="~/Img/@m.IdeaUser.FileName" />
                    <div class="co-name"><a>@m.IdeaUser.UserName</a></div>
                </div>
                <div class="reference">
                    <div class="reference-content">
                        <div class="reference-subtitle font-weight-bold">@Html.DisplayFor(model => m.Category.NameCategory)</div>
                        <div class="reference-subtitle font-weight-bold">@Html.DisplayFor(model => m.Title)</div>
                        <div class="reference-subtitle text-uppercase">@Html.DisplayFor(model => m.Content)</div>
                    </div>
                    @foreach (var item in m.Documments)
                    {
                        <div class="reference-title text-info">
                            <a href="/Idea/DownloadFile?NameFile=@item.FileName">
                                <i class="fa-solid fa-file"></i>@item.FileName
                            </a>
                        </div>
                        <a href="/Idea/DownloadFile?NameFile=@item.FileName"> Download</a>
                    }
                </div>

                <div class="social">
                    <div class="social-buttons ">
                        <span><a asp-action="DetailForAdmin" asp-route-id="@m.IdeaID" class="text-decoration-none" style="color:#7F7F7F;"><i class="fa fa-thumbs-up"></i>Like</a></span>
                        <span><a asp-action="DetailForAdmin" asp-route-id="@m.IdeaID" class="text-decoration-none" style="color:#7F7F7F;"><i class="fa fa-comment"></i>Comment</a></span>

                    </div>
                </div>
            </div>
        }
        <partial name="_Pagination" model=@Model.PagingInfo />
    </div>
</div>

