@model IEnumerable<WebEnterprise.Models.Idea>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="write-post w-100">
        <div class="f-card d-flex justify-content-between">
            <div>
                <h3 class="m-0 font-weight-bold text-primary">List All Idea</h3>
            </div>
            <div>
                <button type="button" class="btn btn-info"><a asp-action="Create" class="text-decoration-none text-white">Post</a></button>
            </div>
        </div>
    </div>


    <div class="right-sidebar">
        @foreach (var m in Model)
        {
            @*    string imgSrc = null;
                //if the current product has image
                if (m.Documment != null)
                {
                var base64 = Convert.ToBase64String(m.Documment);
                imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                }*@
            <div class="f-card">
                <div class="header">
                    <div class="options">
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false">
                                Settings
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <span><a asp-action="Update" asp-route-id="@m.IdeaID" class="text-decoration-none bg-info text-white dropdown-item">Edit</a></span>
                                <span><a asp-action="Delete" asp-route-id="@m.IdeaID" class="text-decoration-none bg-danger text-white dropdown-item">Delete</a></span>
                                <span><a asp-action="Detail" asp-route-id="@m.IdeaID" class="text-decoration-none bg-danger text-white dropdown-item">Detail</a></span>
                            </div>
                        </div>
                    </div>
                    <img class="co-logo" src="https://static2.yan.vn/YanNews/2167221/202112/nhung-ve-si-khong-lo-cua-johnny-dang-co-nguoi-cao-hon-2m-6faabfc9.jpeg" />
                    <div class="co-name"><a href="#">tên User</a></div>
                    <div class="time"><a href="#">2hrs</a> · <i class="fa fa-globe"></i></div>
                </div>
                 <div class="reference">
                    <div class="reference-content">
                        <div class="reference-subtitle font-weight-bold">@Html.DisplayFor(model => m.Category.NameCategory)</div>
                        <div class="reference-subtitle font-weight-bold">@Html.DisplayFor(model => m.Title)</div>
                        <div class="reference-subtitle text-uppercase">@Html.DisplayFor(model => m.Content)</div>
                    </div>
                </div>
                <div class="content">
                    <div class="reference-title" style="color:black;">
                        @Html.DisplayFor(model => m.Documments)
                    </div>
                </div>
                <div class="social">
                    <div class="social-buttons ">
                        <span><i class="fa fa-thumbs-up"></i>Like</span>
                        <span><i class="fa fa-comment"></i>Comment</span>
                    </div>
                </div>
            </div>


        }
    </div>
</div>

