@model WebEnterprise.Models.Idea

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="post">
   <div class="user-profile">
       <img src="https://vuihecungchocopie.vn/wp-content/uploads/2021/12/tieu-su-va-nghe-nghiep-chinh-khoa-pug.jpg" alt="">
         <div>
            <p>Khoa Pug</p>
          <small>Public <i class="fa-solid fa-arrow-down"></i></small>
         </div>
         </div>
         <div class="post-input">
            <textarea rows="3" placeholder="What's on your mind bro??">

            </textarea>
        <div class="add-post-links d-flex justify-content-between align-items-center">
           <a href="#"><i class="fa-solid fa-file-arrow-up"></i></a>
           <button type="button" class="btn btn-primary" asp-action="Create">Post</button>
        </div>
   </div>
</div>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Content)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Content)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreateAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreateAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Like)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Like)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.View)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.View)
        </dd>
    </dl>
</div>
