@model IEnumerable<WebEnterprise.Models.Idea>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="left-sidebar">
        <div>
            <button type="button" class="btn"><a asp-action="Create" class="text-decoration-none">Create a new idea</a></button>
        </div>
    </div>

<div class="right-sidebar">
    @foreach(var m in Model)
    {
@*    string imgSrc = null;
    //if the current product has image
    if (m.Documment != null)
    {
        var base64 = Convert.ToBase64String(m.Documment);
        imgSrc = String.Format("data:image/gif;base64,{0}", base64);
    }*@
     <div class="mb-5">
        <div class="card" style="width: 50rem;">
        <div class="card-body">
         
          <h6 class="card-subtitle mb-2 text-muted font-weight-bold">@Html.DisplayFor(model => m.Title)</h6>
          <p class="card-text">@Html.DisplayFor(model => m.Content)</p>
  
            <div class="d-flex justify-content-around">
                <div>
                    @Html.DisplayFor(model => m.Like)
                    <a href="#" class="card-link"><i class="fa-brands fa-gratipay"></i></a>
                </div>
                <div>@Html.DisplayFor(model => m.View)<i class="fa-solid fa-eye"></i></div>
                
            </div>
            <div>
                <a asp-action="Update" asp-route-id="@m.IdeaID">Edit</a> |
                <a asp-action="Delete" asp-route-id="@m.IdeaID">Delete</a>
            </div>
        </div>
        </div>
       
    </div>   
    }      
</div>
</div>


